body {
    font-family: 'Poppins', 'Montserrat';
    background-color: white;
    margin: 0;
}

.main-container {
    margin: 2% 4%;
    height: 100vh;
}

#edit-content h2 {
    margin: 4% 0 0 0;
}

.topper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#back {
    padding: .5% 2%;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins';
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 5% 0;
}


input[type="text"], input[type="number"], textarea {
    padding: 15px 10px;
    font-family: 'Poppins', sans-serif;
    width: 580px;
    max-width: 700px;
    border-radius: 10px;
    border: 2px solid #302F35;
}

input::placeholder, textarea::placeholder {
    font-family: 'Poppins', sans-serif;
}

.custom-file-upload {
    background-color: #D10E8A;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px !important;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    color: white;
}

#categorySelect {
    font-family: 'Poppins';
    letter-spacing: 1px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background-color: #24B4B5;
    outline: none;
    transition: border-color 0.3s;
    color: white;
    margin-right: 20px;
}

#categorySelect:focus {
    border-color: #007bff;
}

#file-name {
    font-size: 18px !important;
    margin-left: 10px;
}

.custom-file-upload:hover {
    background-color: transparent;
    color: #D10E8A;
    border:2px solid #D10E8A;
}

.submit-edit {
    border-radius: 10px;
    color: white;
    border: none;
    font-family: 'Poppins';
    font-weight: 500;
    background-color: #51b1b1;
    padding: 5% 20%;
    width: 300px;
    font-size: 1.1rem;
}

.submit-edit:hover {
    background-color: #3A3A3A;
    color: white;
}


input,textarea {
    margin-top: 4%;
}

label {
    font-weight: 500;
    font-size: 1.1rem;
}

.media {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}