body {
    font-family: 'Poppins', 'Montserrat';
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
}

.left, .right {
    box-sizing: border-box;
}

.left {
    width: 33%;
    height: calc(100vh - 12%);
    background-image: url('../images/admin-login-bg.svg');
    background-size: cover;
    background-position: center;
    background-color: #302F35;
    margin: 3% 4%;
    padding: 2% 2%;
} 

.right {
    height: 100vh;
    width: 67%;
    padding: 5% 12% 5% 6%;
}

.top-part {
    display: flex;
    align-items: center;
    padding-bottom: 23%;
}

.top-part h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 4%;
    color: #FFFFFF;
    opacity: 0.8;
    padding: 0;
}

.logo {
    width: 10%;
}

.title-message {
    font-family: 'Poppins';
    text-align: center;
    color: white;
    font-size: 2.7rem;
    padding: 0 8% 5% 8%;
}

.message {
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    color: #63EAF2;
    line-height: 1.8;
    padding: 0 8% 33% 8%;
}

.sign-in {
    color: #2DAAB2;
    font-weight: 600;
    font-size: 2.2rem;
    text-align:center;
}

.sign-in-message {
    text-align:center;
    font-size: 1rem;
    opacity: .6;
}

.sign-in-message span {
    color: #2DAAB2;
}

form {
    padding: 6% 0 3% 0;
}

input[type="text"],
input[type="password"] {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #4d4c52;
    border-radius: 4px;
    width: 90%;
}

input::placeholder {
    font-family: 'Poppins';
    opacity: .5;
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    accent-color: #D10E8A;
}

.keep {
    font-size: .8rem;
    color: #5C5C5C;
    font-weight: 400;
}

.checkboxx {
    display: flex;
    align-items: center;
    padding-bottom: 10%;
}

button[type="submit"] {
    font-family: 'Poppins';
    font-weight: 500;
    padding: 15px 20px;
    font-size: 16px;
    color: white;
    background-color: #2DAAB2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 95%;
    border-radius: 20px;
}

.note {
    padding: 2% 10% 0 8%;
    text-align: center;
    font-size: .8rem;
    opacity: .6;
}