body {
    font-family: 'Poppins', 'Montserrat';
    background-color: white;
    margin: 0;
}

p {
    margin: 0;
}

.main-container {
    margin: 2% 4%;
}

.topper {
    margin: 3% 0 2% 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.topper h1 {
    color: #3A3A3A;
    font-size: 2.5rem;
}

.topper button {
    font-size: .8rem;
    font-weight: 500;
    font-family: 'Poppins';
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 10px;
}

.topper button:hover {
    background-color: #3A3A3A;
    color: white;
    border: none;
    cursor: pointer;
}

.styled-table {
    width: 100%;
    background-color:none;
    color: #292929;
    border-collapse: collapse;
}

.table-header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.styled-table th {
    flex: 1;
    padding: 20px 10px;
    text-align: center;
    border-bottom: 1px solid #444;
    font-weight: 500;
    opacity: 0.7;
    font-size: .95rem;
}

.styled-table tbody {
    width: 100%;
}

.styled-table td {
    padding: 20px 10px;
    text-align: center;
    font-size: .95rem;
    font-weight: 400;
    width: 400px;
    overflow: hidden;
}


.styled-table th:first-child, 
.styled-table td:first-child {
    width: 90px; 
    text-align: center; 
}

#select {
    border: 2px solid #474747;
    border-radius: 20px;
    accent-color: #D10E8A; 
    transform: scale(2); 
}

input[type="number"] {
    text-align: center;
    outline: none;
    padding: 10px;
    font-size: 16px;
    background: transparent;
    border: none;
    width: 60px; 
}

.minus-btn, .plus-btn {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    width: 40px; 
}

.add {
    margin-left: 30px;
    background-color: #A10257;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    padding: 10px 70px;
    cursor:pointer;
}

.addcart {
    max-width:  300px; 
    width: 300px;
    overflow: hidden;
    text-align: center; 
}

.product {
    display: flex;
    align-items: center;
}

.left-product {
    border-radius: 10px;
    margin-right: 30px;
}
.left-product img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.right-product {
    text-align: left;
}

.summary {
    margin-top: 7%;
    background-color:#EFEFEF;
    padding: 3% 3% 1% 3%;
    border-radius: 10px;
}

.order-title {
    color: #3A3A3A;
    font-size: 1.3rem;
    font-weight : 600;
}

.summary-item, .summary-total {
    margin: 1.5% 0;
    display: flex;
    justify-content: space-between;
}

.summary-item p {
    opacity: 0.5;
    font-weight: 400;
    margin: 0;
}

.summary-item span {
    font-weight: 600;
    color:#292929;
    margin-right: 3%;
}

.summary-total p {
    color: #3A3A3A;
    margin: 0;
    font-weight: 600;
}

.summary-total span {
    color: #3A3A3A;
    margin-right: 3%;
    font-weight: bold;
}

.checkout {
    margin: 4% 0;
}

.checkout-btn {
    width: 100%;
    background-color:#549250;
    border: none;
    padding: 2% 0;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color:#323232;
}

.title {
    color: #3A3A3A;
    margin: 4% 0 2% 0;
}

.orders {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    font-size: 1.3rem;
}

.category-select {
    padding: 2px 14px;
    font-size: 16.5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #D6309A;
    color: white;
    font-family: 'Poppins';
    height: 40px;
    margin-top: 4%;
    margin-bottom: 2%;
}

.card-container {
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #F1F1F1;
    display: flex;
    gap: 20px 150px;
    flex-wrap: wrap;
    margin-bottom: 10%;
    justify-content:center;
}

.proof-btn{
    background-color: #29BEC0;
    color: white;
    border: none;
    padding: 2% 5%;
    border-radius: 10px;
    font-weight: 300;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
}

.card {
    min-width: 250px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0.1, 0.3, 0, 0.2);
    margin: 30px 0;
    padding: 15px;
    max-width: 310px;
}

.card-header {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding-bottom: 8px;
}

.card-header h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}

.card-body p {
    margin: 8px 0;
    font-size: 14px;
}

.card-body ul {
    list-style-type: none;
    padding: 0;
}

.card-body ul li {
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 4px;
    margin: 4px 0;
    padding: 8px;
}

.status-label {
    font-size: 18px;
    font-weight: 600;
    margin-right: 8px;
}

.status-select {
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #292929;
    color: white;
    font-family: 'Poppins';
}