body {
    font-family: 'Poppins', 'Montserrat';
    height: 100vh;
    margin: 0;
    background-color: white;
}

h1 {
    padding: 0;
    margin: 0;
}

.main-container {
    margin: 2% 4%;
}

#dropdown {
    padding: 2px;
    font-family: 'Poppins', 'Montserrat';
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid #D2D2D2;
    background-color: white;
    margin-right: 20px;
}

.title {
    margin: 4% 0 3% 0;
    color: #3A3A3A;
}


.first-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


.first-row input[type="text"], .first-row input[type="number"] {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #4d4c52;
    border-radius: 4px;
    width: 520px;
}

.second-row input[type="text"], .second-row input[type="email"], .second-row input[type="number"] {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #4d4c52;
    border-radius: 4px;
    width: 97%;
}

input::placeholder {
    font-family: 'Poppins';
    opacity: .5;
}

.mode1 input[type="radio"] {
    margin-right: 20px;
    transform: scale(1.5);
    accent-color: #D10E8A;
}

.mode {
    font-size: 1rem;
    color: #5C5C5C;
    font-weight: 400;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkboxx {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.mode1 {
    border: 2px solid #4d4c52;
    border-radius: 4px;
    padding: 1.5% 2%;
    margin-bottom: 2%;
}

.left img {
    width: 300px;
}
.gcash-ins {
    display: flex;
}

.gcash-logo {
    margin-left: 10%;
}

.right {
    padding: 0 10% 0 15%;
    width: 100%;
}

.right h1 {
    color:#2FA0A0;
    font-weight: 600;
    font-size:3rem;
}

.right h2 {
    font-weight: 500;
    font-size: 1.8rem;
}

.right h3 {
    font-weight: 300;
    font-size: 1.2rem;
}
.right ol {
    padding: 5% 0 8% 2%;
}

.right li {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: .5rem; 
}

.custom-file-input {
    background-color: #2FA0A0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    padding:2% 20%;
    font-weight: 500;
}

#fileToUpload {
    display: none;
}

.summary {
    background-color:#EFEFEF;
    padding: 3% 3% 1% 3%;
    border-radius: 10px;
}

.order-title {
    color: #3A3A3A;
    font-size: 1.3rem;
    font-weight : 600;
}

.summary-item, .summary-total {
    margin: 1.5% 0;
    display: flex;
    justify-content: space-between;
}

.summary-item p {
    opacity: 0.5;
    font-weight: 400;
    margin: 0;
}

.summary-item span {
    font-weight: 600;
    color:#292929;
    margin-right: 3%;
}

.summary-total p {
    color: #3A3A3A;
    margin: 0;
    font-weight: 600;
}

.summary-total span {
    color: #3A3A3A;
    margin-right: 3%;
    font-weight: bold;
}

.checkout {
    margin: 4% 0;
}

.checkout-btn {
    width: 100%;
    background-color:#549250;
    border: none;
    padding: 2% 0;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color:#323232;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 500px;
}

.popup h2 {
    margin-top: 0;
    color: #3A3A3A;
    font-size: 1.5rem;
}

.popup h3 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 4%;
}


.satisfied,.bad {
    color: white;
    width: 200px;
    border-radius: 5px;
    padding: 1.5% 2%;
    text-align: center;
    font-size: .9rem;
    font-weight: 500;
}

.satisfied {
    background-color: #05A9AA;
}

.bad {
    background-color: #D10E8A;
}
.popup button {
    margin-top: 10px;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.rating-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}

form p {
    margin: 0 0 2% 0;
    font-size: .9rem;
}


#review::placeholder {
    font-family: 'Poppins';
    opacity: .5;
}

#review {
    padding: 2%;
    width: 95%;
    font-family: 'Poppins';
}

.submit-review {
    float:right;
    background-color: #3A3A3A;
    border: none;
    color: white;
    padding: 1.5% 10%;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}