body {
    font-family: 'Poppins', 'Montserrat';
    background-color: white;
    margin: 0;
}

p {
    margin: 0;
}
.main-container {
    margin: 2% 4%;
}

.banner {
    margin: 4% 0;
    display: flex;
    justify-content: space-between;
}

.banner p {
    display: none;
}

.banner1 {
    width: 48%;
    height: 300px;
    background-image: url('../images/banner1-product.svg');
    background-size: cover;
    background-position: center;
    border: 1px solid #545454;
}

.banner2 {
    width: 49%;
    height: 300px;
    background-image: url('../images/banner2-product.svg');
    background-size: cover;
    background-position: center;
    border: 1px solid #545454;
}

.products-container {
    padding: 2% 4%;
    background-color:#ebebeb;
    border: 1px solid #CBCBCB;
}

.topper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topper h1 {
    margin: 2% 0;
    font-size: 1.4rem;
    font-weight: 600;
    color: #292929;
}

.topper span {
    margin-left: 20px;
    color: #D10E8A;
    font-weight: 500;
}

.suggestions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0 4% 0;
}

.btn {
    padding: 2px;
    font-family: 'Poppins', 'Montserrat';
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

#dropdown {
    padding: 2px;
    font-family: 'Poppins', 'Montserrat';
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid #D2D2D2;
    background-color: white;
    margin-right: 20px;
}


#search {
    border: 1px solid #ccc;
    border-right: none;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-family: 'Poppins';
    width: 300px;
}

#search::placeholder {
    font-family: 'Poppins';
    padding: 2px 20px;
}

#searchBtn {
    border: 1px solid #ccc;
    background-color: #333333;
    color: white;
    padding: 8px 20px; 
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-family: 'Poppins';
}

#search:focus {
    border-color: #D10E8A;
}

#searchBtn:hover {
    background-color: #D10E8A;
}

.wrapper {
    display: flex;
}


.product-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 70px 8%;
    margin-bottom: 10%;
}

.product-card {
    width: 290px;
    max-width: 320px;
    background-color: white;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img-product {
    background-color: #DBDBDB;
    height: 170px;
    border-radius: 10px 10px 0 0;
}

.img-product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.info-product {
    padding: 10px 24px;
}

.row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row1 h1 {
    color: #074C30;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 4% 0;
}

.row1 h3 {
    color: #131313;
    font-size: 1rem;
    font-weight: 400;
} 

.row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row2 h2{
    margin: 3% 0;
    font-size: 1.1rem;
    color:#292929;
    font-weight: 600;
}

.row3 {
    margin: 10% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-col a {
    text-decoration: none;
    color: white;
    background-color:#D10E8A;
    font-size: .8rem;
    font-weight: 500;
    padding: 8px 25px;
}

.btn2 {
    border: none;
    background-color: #098888;
    border-radius: 90px;
    padding: 7px 8px 5px 8px;
    cursor: pointer;
}
